<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src='vendors/jquery-3.2.1.min.js'></script>
  <script type="text/javascript" src='scripts/songs.js'></script>
  <!-- <script type="text/javascript" src='server.js'></script> -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <title>node/Express.js (JEN)</title>
</head>

<body>
  <h1>node/Express.js: JEN Stack Start/Router Basics</h1>
  <div class="">
    <input type="text" placeholder="song" id="songIn" name="song" value="">
    <input type="text" placeholder="artist" id="artistIn" name="artist" value="">
    <button type="button" id="addSongButton" name="button">Add Song</button>
  </div>
  <div id="outputDiv">
    Songs will go here...
  </div>

</body>

</html>
